{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/store/product_detail.css' %}">

{% endblock %}

{% block content %}



<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
        <div class="row no-gutters">
            <aside class="col-md-6">
    <article class="gallery-wrap"> 
        <div class="img-big-wrap">
           <a href="#"><img src="{{single_product.images.url}}" class="prodcut_img"></a>
        </div> <!-- img-big-wrap.// -->
        
    </article> <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-md-6 border-left">

  <!-- using these in form for varients-->

  <form action='{% url 'add_cart' single_product.id %}' method ="POST">
    
    {% csrf_token %}

      <article class="content-body">
      
      <h2 class="title">{{single_product.product_name}}</h2>
      
      <div class="mb-3"> 
          <var class="price h4">₹{{single_product.price}}</var> 
      </div> 
      
      <p>{{single_product.description}}</p>
      
      
      <hr>
          <div class="row">
              <div class="item-option-select">
                  <h6>Choose Color</h6>
                  <select name="color" id="" class="form-control" required> 
                    <option values="" disabled selected>Select</option>
                    {% for i in single_product.variation_set.colors  %} <!-- set.colors: colors is a function from variation manager (we defined it in store/models)-->
                        <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                    {% endfor %}
                  </select> 
              </div>
          </div> <!-- row.// -->
          <div class="row">
              <div class="item-option-select">
                  <h6>Select Size</h6>
                  <select name="size" id="" class="form-control">
                    <option values="" disabled selected>Select</option>
                    {% for i in single_product.variation_set.sizes  %} <!-- set.colors: colors is a function from variation manager (we defined it in store/models)-->
                        <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                    {% endfor %}
                    
                  </select> 
                  
              </div>
          </div> <!-- row.// -->
          <hr>
          {% if single_product.stock < 1 %}
            <h6 style="color:rgb(163, 0, 0)">Product Out Of Stock !!</h6>
          {% else %}
            <button type="submit" class="btn add-to-cart-button"> <span class="text">Add to cart</span> <i class="fa fa-shopping-cart" style="color: #ffffff;"></i>  </button>
          {% endif %}
      </article> <!-- product-info-aside .// -->
  </form>

            </main> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    
    <br>
    
    <div class="row">
                <div class="col-md-9">
    
        <header class="section-heading">
            <h3>Customer Reviews </h3>  
            
        </header>
    
        <article class="box mb-3">
            <div class="icontext w-100">
                <img src="{% static './images/avatars/rabi_avatar.jpg' %}" class="img-xs icon rounded-circle">
                <div class="text">
                    <span class="date text-muted float-md-right">21-08-2023</span>  
                    <h6 class="mb-1">Rabi / Review keng! </h6>
                    
                </div>
            </div> <!-- icontext.// -->
            <div class="mt-3">
                <p>
                    Mone poli sannam ! Venel vedicha mathi
                </p>	
            </div>
        </article>
    
        
    
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}


