{% load static %}

<!--footer starts here-->

<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; eStrezza 2023</div>
            <div>
                <a href="#" style="color: #070707;">Privacy Policy</a>
                &middot;
                <a href="#" style="color: #070707;">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!-- footer ends here-->