

.see-all-button{
    background-color: #ffffff;
    color: #070707;
    outline: #070707 solid 1px;
}
.see-all-button:hover{
    background-color: #070707;
    color: #ffffff;
   
}
.intro-banner-wrap{
    text-align: center;
}
.intro-banner-wrap video{
    width: 70%;
    height: 70%;
}
.title:hover{
    color: #616b6E;
}