{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/accounts/otp.css' %}">
{% endblock custom_css %}

{% block content %}

<div class="custom-body">

    <div class="box new1" style="background-image: url('{% static 'images/blackwomen2.jpg' %}'); background-position: center; background-size: cover; background-repeat: no-repeat;">


        <div class="container login-form new2">

            {% include 'includes/alerts.html' %}
        
            <div class="top new3">
                <div class="logo new4">
                    <img src="{% static 'images/logo white for login.png' %}" alt="Logo">
                </div>
                <span>Reset Password !</span>
                <header></header>
            </div>

            <form action="{% url 'resetPassword' %}" method="POST">

                {% csrf_token %}

                
                <div class="input-field new5">
                    <input type="password" class="input new6" placeholder="Enter New Password" id="password" name="password">
                    <i class='bx bx-phone'></i>
                </div>
                <div class="input-field new5">
                    <input type="password" class="input new6" placeholder="Confirm Password" id="confirm_password" name="confirm_password">
                    <i class='bx bx-phone'></i>
                </div>

                <div class="input-field new5">
                    <input type="submit" class="submit new7" value="Reset Password" id="reset_password"></a>
                </div>
            </form>

            <div class="signup">
                <span>Back to login?</span>
                <a href="{% url 'login' %}" class="signup-link">Click Here</a>
            </div>
        </div>
    </div>
</div>  

{% endblock content %}
